{% extends '../layouts/base.html'%}
{% load static %} 
{%  block content %}

  <main class="container_sm shadow p-3 m-3 bg-body rounded">
    <div>
      <h2 class="text-center">Agregar permiso</h2>
    </div>
    <!-- form permission -->
    <div class="container_sm shadow p-2 mb-5 bg-body rounded" style="max-width: 600px"  >
      <div class="card-body mx-auto " >
        <form action="{% url 'guardar_permiso' email  %}" method="POST">
          {% csrf_token %}
          <!-- Organizacion -->
          <div class="form-outline">
            <select class="form-select" name="org" aria-label="Organización">
              {% for o in org%}
                <option value="{{o.id_org}}">{{o.org_name}}</option>
              {% endfor %}
            </select>
            <label class="form-label" for="">organización</label>
          </div>
          <!-- Sitio -->
          <div class="form-outline">
            <select class="form-select" name = "site" aria-label="Site" >
              <option selected value="0">Sin sitio</option>
              {% for o in sites %}
                <option value="{{o.id_site}}">{{o.site_name}}</option>
              {% endfor %}
            </select>
            <label class="form-label" for="">Sitio</label>
          </div>
          <!-- Zona -->
          <div class="form-outline">
            <select class="form-select" name = "zone" aria-label="Site" >
              <option selected value="0">Sin Zona</option>
              {% for o in zones %}
                <option value="{{o.id_zone}}">{{o.zone_name}}</option>
              {% endfor %}
            </select>
            <label class="form-label" for="">Zona</label>
          </div>
          <!-- permisos -->
          <div class="form-outline">
            <div class="card">
              <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapse">
                  Permisos <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div id="collapse" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value="1" name="permiso">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Visualizar</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value="2" name="permiso">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Modificar</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value="3" name="permiso">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Eliminar</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-block mt-3">
            <button class="btn btn-primary w-100";">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </main>

{% endblock %}

<!-- #################################OLD INTERFACE############################################ -->
<div class="contenedor" style="margin-bottom: 30px;">
    <div class="contenedor_form">
        <h4>Asignar permiso </h4>
        <form action="{% url 'guardar_permiso' email  %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <select class="form-select" name = "org" aria-label="Organization" >
                  <option selected value="0">organización</option>
                  {% for o in org %}
                  <option value="{{o.id_org}}">{{o.org_name}}</option>
                  {% endfor %}
                  </select>
          </div>

          <div class="mb-3">
            <select class="form-select" name = "site" aria-label="Site" >
                <option selected value="0">Sitio</option>
                {% for o in sites %}
                <option value="{{o.id_site}}">{{o.site_name}}</option>
                {% endfor %}
                </select>
          </div>

          <div class="mb-3">
            <select class="form-select" name = "zone" aria-label="Site" >
                <option selected value="0">Zona</option>
                {% for o in zones %}
                <option value="{{o.id_zone}}">{{o.zone_name}}</option>
                {% endfor %}
                </select>
          </div>

            <div class = container style = "width: 200px;">
            <div class="input-group-text" style = "background-color: white; ">
              <input name="permiso" type="radio" style="margin: 10px;" value=1>
              <label style="margin: 10px;"> Visualizar</label>
            </div>

            <div class="input-group-text" style = "background-color: white;">
              <input name="permiso" type="radio" style="margin: 10px;" value=2>
              <label style="margin: 10px;"> Modificar</label>
            </div>

            <div class="input-group-text" style = "background-color: white;">
              <input name="permiso" type="radio" style="margin: 10px;" value=3>
              <label style="margin: 10px;"> Eliminar</label>
            </div>

            
              <div class = "boton_agregar" style="margin-top: 20px;">
                <button class="btn">Guardar</button>
              </div>
            

          </div>
        </form>
    </div>
</div>
