:root {
    --color-primary: #006181;
    --color-primary-dark: rgba(0, 77, 102, 0.931);
    --color-white: #f3f3f3;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #d3cdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.barra_nav{
    color: #fff;
    background-color: #FFB000;
    height: 80px;
}

.barra_nav div a{
    color: #fff;
    margin-right: 50;
    font-size: large;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
}

.barra_nav div a:hover{
    color: #7c7c7c; 
}



img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, .16),
                0 2px 5px rgba(0,0,0, .1);
}

.container {
    padding: 20px;
}

.tab-container {
    max-width: 1000px;
    margin: 20px auto ;
    list-style: none;
    position: relative;
}

 input[type="radio"] {
    display: none;
}

.tab-container  li {
    float: left;
    display: block;
}

.tab-container label {
    display: inline-block;
    background-color: #d3cdcd;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 1px 0 0;
    transition: all .3s ease;
}

.tab-container [id^="tab"]:checked + label {
    background-color: #FFB000;
}

/* tab-content style */
.tab-content {
    background-color: #d3cdcd;
    color: var(--color-white);
    padding: 20px;
    position: absolute;
    top: 45px;
    left: 0;
    width: 1000px;
    height: 480px;
    border-radius: 0 5px 5px 5px;
    margin: 0;
    display: none;
}

.tab-container [id^="tab"]:checked ~ .tab-content {
    display: block;
    margin: 0;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.inner-left {
    padding: 0 0px;
    margin-right: 0px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
    line-height: 1.2;
}

p {
    margin-bottom: 15px;
}

.social {
    display: flex;
    align-items: center;
}


/* Button style start */
.btn {
    display: inline-block;
    color: var(--color-white);
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid var(--color-white);
    margin-top: 10px;

    transition: all .2s ease-in-out; 

}

.btn span {
    margin-left: 5px;
    transition: margin-left .3s ease-in-out; 
}
  
.btn:hover {
    background: var(--color-white);
    color: #000;
}

.btn:hover span {
    margin-left: 15px; 
}

.contenedor_b{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding-bottom: 10px;  
    margin: 2px;  
    
     
}


.contenedor_b div{
    margin: 0px;    
    
}


.contenedor_b input{
   
    margin: 0px;
}


.contenedor_b button{
    background-color: #7c7c7c;
    margin: 0px;
}

.contenedor_b button:hover{
    background-color:#FFB000
}